{% if data is not empty %}
    <div class="data-quality">
        <h1>{{ data.percent }}%</h1>
        {% for area in data.items %}
            <div class="data-quality_area">
                <h2 class="data-quality_headline">
                    {{ area.name | trans }}
                </h2>
                <table class="data-quality_table">
                    {% for field in area.fields %}
                        <tr class="data-quality_row">
                            <td class="data-quality_column{{ field.isEmpty ? ' data-quality_column--empty' : '' }}">
                                {{ field.name | trans }}
                            </td>
                        </tr>
                    {% endfor %}
                </table>
            </div>
        {% endfor %}
    </div>
{% endif %}
