<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <link href="{{ asset('bundles/dataquality/css/admin.css') }}" rel="stylesheet" />
    <title></title>
</head>
<body>
    {% block body %}{% endblock %}
</body>
</html>
